*{
    margin: 0;
    padding: 0;
}
body{
    background: #ff34;
}
.box{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(78, 26, 127);
}
.container{
    position: relative;
    width: 100%;
    height: 80%;
    display: block;
    background: black;


}
.point{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(9, 226, 99);
    color: #fff;
    font-size: 40px;
}

.btnStyle{
    position: relative;
    padding: 20px 80px 20px 80px;
    border-radius: 20px;
    font-size: 30px;
    background: rgb(92, 92, 231);
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 auto;
    top: 10%;
    left: 50%;
    transform: translate(-50% -50%);
}


.btnStyle:hover{
    background: rgb(233, 160, 24);
    color: black;
    transition: 0.5s;
}
/* .point-off{
    display: none;
} */